

<div class="center jumbotron">
  <h1 style="font-size: 3.2em">Sycamore Education</h1>

  <h2>
    My name is <a href="https://www.michaelschneider.me/"> Michael </a>. I'm working with
    <a href="https://sycamoreeducation.com">Sycamore Education</a>
    this summer and I'm creating this sammple app with Rails to try some things out. 
  </h2>
  
  <h2> 
    The website isnt set up in a way where signing up does anything worthwhile,
    but you can still sign up and make a profile to edit your personal information
    to see that it works! 
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> </br></br>

<%= link_to image_tag("sycamore_leaf.jpg", height: '40', width: '40', alt: "Sycamore Leaf"),
            'http://sycamoreeducation.com/' %>

<%= ENV["GITHUB_TOKEN"] %>

</div>