<footer class="footer">
  <small>
    Created by <a href="https://www.michaelschneider.me/"> Michael Schneider </a>
    as part of a project during my summer as an intern with 
    <a href="https://sycamoreeducation.com">Sycamore</a>.
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      </ul>
  </nav>
</footer>